<?xml version="1.0"?>
<robot name="kasif_celebi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find description)/urdf/chassis.xacro"/>
  <xacro:include filename="$(find description)/urdf/lidar.xacro"/>
  <xacro:include filename="$(find description)/urdf/imu.xacro"/>
  <xacro:include filename="$(find description)/urdf/rgb_camera.xacro"/>
  <xacro:include filename="$(find description)/urdf/wheel.xacro"/>

</robot>